<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <maddlen_nivo>
            <otp>
                <otp_email_template>otp_code_email_template</otp_email_template>
            </otp>
        </maddlen_nivo>
    </default>
</config>
